<footer>
    <ul class="active">
        <li><i class="iconfont icon-shouye-shouye"></i></li>
        <li>首页</li>
    </ul>
    <ul>
        <li><i class="iconfont icon-search"></i></li>
        <li>发现</li>
    </ul>
    <ul>
        <li><i class="iconfont icon-xiangji"></i></li>
        <li></li>
    </ul>
    <ul>
        <li><i class="iconfont icon-wode"></i></li>
        <li>我的</li>
    </ul>
    <ul>
        <li><i class="iconfont icon-tuichu"></i></li>
        <li>退出</li>
    </ul>
</footer>